<!-- Mini Cart Wrap Start -->                      
<div class="mini-cart-wrap">

    <!-- Mini Cart Top -->
    <div class="mini-cart-top">    
    
        <button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>
        
    </div>

    <!-- Mini Cart Products -->
    <ul class="mini-cart-products">
        <li>
            <a class="image"><img src="assets/images/product/product-1.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Waxon Note Book Pro 5</a>
                <span class="price">Price: $295</span>
                <span class="qty">Qty: 02</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="assets/images/product/product-2.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Aquet Drone D 420</a>
                <span class="price">Price: $275</span>
                <span class="qty">Qty: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="assets/images/product/product-3.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Game Station X 22</a>
                <span class="price">Price: $295</span>
                <span class="qty">Qty: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
    </ul>

    <!-- Mini Cart Bottom -->
    <div class="mini-cart-bottom">    
    
        <h4 class="sub-total">Total: <span>$1160</span></h4>

        <div class="button">
            <a href="checkout.html">CHECK OUT</a>
        </div>
        
    </div>

</div><!-- Mini Cart Wrap End --> 

<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Détails du produit</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Page d'accueil</a></li>
                        <li><a href="#">Détails du produit</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/banner/bannerlogo.png" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/banner/bannerlogo2.png" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Single Product Section Start -->
<div class="product-section section mt-120 mb-10">
    <div class="container">
        
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2 mb-60">
        
                <div class="row mb-40">

                    <div class="col-lg-6 col-12 mb-50">

                        <!-- Image -->
                        <div class="single-product-image">

                            <div class="tab-content">
                                <div id="single-image-1" class="tab-pane fade show active big-image-slider">
                                  
                                    <div class="big-image"><img src="assets/images/single-product/description.png" alt="Big Image"><a href="assets/images/single-product/description.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                                </div>
                                <div id="single-image-2" class="tab-pane fade big-image-slider">
                                    
                                    <div class="big-image"><img src="assets/images/single-product/description.png" alt="Big Image"><a href="assets/images/single-product/description.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                                </div>
                                <div id="single-image-3" class="tab-pane fade big-image-slider">
                                   
                                    <div class="big-image"><img src="assets/images/single-product/description.png" alt="Big Image"><a href="assets/images/single-product/description.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                                </div>
                            </div>

                            <div class="thumb-image-slider nav">
                                <a class="thumb-image active" data-toggle="tab" href="#single-image-1"><img src="assets/images/single-product/thumb-1.png" alt="Thumbnail Image"></a>
                                <a class="thumb-image" data-toggle="tab" href="#single-image-2"><img src="assets/images/single-product/thumb-2.png" alt="Thumbnail Image"></a>
                                <a class="thumb-image" data-toggle="tab" href="#single-image-3"><img src="assets/images/single-product/thumb-3.png" alt="Thumbnail Image"></a>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6 col-12 mb-50">

                        <!-- Content -->
                        <div class="single-product-content p-0">

                            <!-- Category & Title -->
                            <div class="head-content">

                                <div class="category-title">
                                    <a href="#" class="cat">Catégorie du produit</a>
                                    <h5 class="title">Nom du produit</h5>
                                </div>

                                <h5 class="price">Prix £</h5>

                            </div>

                            <div class="single-product-description">

                        

                    

                                <span class="availability">Disponibilité: <span> en stock</span></span>

                                <div class="quantity-colors">

                                    <div class="quantity">
                                        <h5>Quantité</h5>
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>                            

                                    <div class="colors">
                                        <h5>Couleurs</h5>
                                        <div class="color-options">
                                            <button style="background-color: #afafaf"></button>
                                            <button style="background-color: #ff0000"></button>
                                            <button style="background-color: #002570"></button>
                                            <button style="background-color: #000000"></button>
                                            <button style="background-color: #ffbf00"></button>
                                        </div>
                                    </div>                            

                                </div> 


                                <div class="actions">

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>Ajouter</span></a>

                            

                                </div>

                        

                

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-12 mb-90">

                        <ul class="single-product-tab-list nav">
                            <li><a href="#product-description" class="active" data-toggle="tab" >description</a></li>
                        </ul>

                        <div class="single-product-tab-content tab-content">
                            <div class="tab-pane fade show active" id="product-description">

                                <div class="row">
                                    <div class="single-product-description-content col-lg-8 col-12">
                                        <h4>Description</h4>
                                        <p>description du produit en question</p>
                                       </div>
   
                                </div>

                            </div>
                              

                            
                        </div>

                    </div>

                </div>
                
               
                
            </div>
            
            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-2 order-lg-1 mb-50">
                
                <app-sidebar></app-sidebar>
                
            </div>
        </div>
        
    </div>
</div><!-- Single Product Section End -->
