<div class="container padding-bottom-3x mb-2">
    <div class="card text-center">
      <div class="card-body padding-top-2x">
        <h3 class="card-title">Merci pour votre commande!</h3>
        <p class="card-text">Votre commande a été passée et sera traitée dans les plus brefs délais.</p>
        <p class="card-text">Assurez-vous de noter votre numéro de commande, qui es            <span class="text-medium">99CA192099</span></p>
        <p class="card-text">Vous recevrez un email sous peu avec confirmation de votre commande. 
          <u>Vous pouvez maintenant :</u>
        </p>
        <div class="padding-top-1x padding-bottom-1x"><a class="btn btn-outline-secondary" href="#">Retourner à la page d'acceuil</a><a class="btn btn-outline-primary" href="commandslist">&nbsp;Vois la liste de vos commandes</a></div>
      </div>
    </div>
  </div>