<div class="container padding-bottom-3x mb-2">
    <div class="row">
      <div class="col-lg-4">
        <aside class="user-info-wrapper">
          <div class="user-cover" style="background-image: url(assets/images/user-cover-img.jpg);">
            
          </div>
          <div class="user-info">
            <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="assets/images/nour.jpg" alt="User"></div>
            <div class="user-data">
              <h4>Nour Ben Youssef</h4><span>Inscrite, le 20 avril, 2020         </span>
            </div>
          </div>
        </aside>
        <nav class="list-group"><a class="list-group-item with-badge active" href="commandslist">Liste des commandes<span class="badge badge-primary badge-pill">5</span></a><a class="list-group-item" href="user">Profile</a><a class="list-group-item" href="#">Adresse</a><a class="list-group-item with-badge" href="panier">Panier en attente<span class="badge badge-primary badge-pill">3</span></a><a class="list-group-item with-badge" href="#"></a></nav>
      </div>
      <div class="col-lg-8">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <div class="table-responsive">
          <table class="table table-hover margin-bottom-none">
            <thead>
              <tr>
                <th>Commande #</th>
                <th>Date de l'achat</th>
                <th>Statut</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">19205540K83</a></td>
                <td>23 avril 2020</td>
                <td><span class="text-info">En cours</span></td>
                <td><span class="text-medium">€800.00</span></td>
              </tr>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">78A643CD409</a></td>
                <td>21 avril 2020</td>
                <td><span class="text-danger">Annulée</span></td>
                <td><span class="text-medium">€760.00</span></td>
              </tr>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">34VB5540K83</a></td>
                <td>21 avril 2020</td>
                <td><span class="text-info">En cours</span></td>
                <td><span class="text-medium">€315.00</span></td>
              </tr>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">28BA67U0981</a></td>
                <td>21 avril 2020</td>
                <td><span class="text-success">Livrée</span></td>
                <td><span class="text-medium">€198.00</span></td>
              </tr>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">502TR872W2</a></td>
                <td>21 avril 2020</td>
                <td><span class="text-success">Livrée</span></td>
                <td><span class="text-medium">€2,020.00</span></td>
              </tr>
              <tr>
                <td><a class="text-medium navi-link" href="#" data-toggle="modal" data-target="#orderDetails">47H76G09F33</a></td>
                <td>21 avril 2020</td>
                <td><span class="text-success">Livrée</span></td>
                <td><span class="text-medium">€1,920.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
      </div>
    </div>
  </div>
