<div class="mini-cart-wrap">

    <!-- Mini Cart Top -->
    <div class="mini-cart-top">    
    
        <button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>
        
    </div>

    <!-- Mini Cart Products -->
    <ul class="mini-cart-products">
        <li>
            <a class="image"><img src="assets/images/product/product-1.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Waxon Note Book Pro 5</a>
                <span class="price">Price: $295</span>
                <span class="qty">Qty: 02</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="assets/images/product/product-2.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Aquet Drone D 420</a>
                <span class="price">Price: $275</span>
                <span class="qty">Qty: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="assets/images/product/product-3.png" alt="Product"></a>
            <div class="content">
                <a href="single-product.html" class="title">Game Station X 22</a>
                <span class="price">Price: $295</span>
                <span class="qty">Qty: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
    </ul>

    <!-- Mini Cart Bottom -->
    <div class="mini-cart-bottom">    
    
        <h4 class="sub-total">Total: <span>$1160</span></h4>

        <div class="button">
            <a href="checkout.html">CHECK OUT</a>
        </div>
        
    </div>

</div><!-- Mini Cart Wrap End --> 

<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Mes commandes</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Page d'accueil</a></li>
                        <li><a href="#">Mes commandes</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/9.png" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/10.png" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Cart Page Start -->
<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">				
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead style="background-color: #eff7fe;">
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Produit</th>
                                    <th class="pro-price">Prix</th>
                                    <th class="pro-quantity">Quantité</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of panier">
                                    <td class="pro-thumbnail"><a href="#"><img src="http://localhost:3000/image/{{product.image}}" alt="Product"></a></td>
                                    <td class="pro-title"><a href="#">{{product.title}}</a></td>
                                    <td class="pro-price"><span>€{{product.price}}</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>

                                    <td class="pro-subtotal"><span>€ {{product.price}}</span></td>
                                    <td class="pro-remove" (click)="removeProduct(product)"><a><span>&#x274c;</span></a></td>

                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    
                </form>	
                    
                <div class="row">

                    <div class="col-lg-6 col-12 mb-15">
                       
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Commande</h4>
                                <p>Total d'achats <span>€ {{total}}.00</span></p>
                                <p>Frais de livraison <span>€ 00.00</span></p>
                                <h2>Grand Total <span>€ {{total}}.00</span></h2>
                            </div>

                            <div class="cart-summary-button">
                                <button class="checkout-btn"><a routerLink="/adress">Valider</a></button>

                            </div>
                        
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
