<!-- Mini Cart Wrap Start -->                      
<!-- Mini Cart Wrap End --> 

<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Liste des produits</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Page d'Acceuil</a></li>
                        <li><a href="#">Liste des produits</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/4.png" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/5.png" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Feature Product Section Start -->
<div class="product-section section mt-90 mb-40">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-9 col-lg-8 col-12 order-lg-2 mb-50">
                
                <div class="row mb-50">
                    <div class="col">
                       
                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">


                            <!-- Product Showing -->
                            <div class="product-showing">
                                <p>Produits par page</p>
                                <select name="showing" class="nice-select">
                                    <option value="1">6</option>
                                    <option value="2">12</option>
                                    <option value="3">18</option>
                                    <option value="4">24</option>
                                    <option value="5">30</option>
                                </select>
                            </div>

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Trier par</p>
                                <select name="sortby" class="nice-select">
                                    <option value="sales">Meilleures ventes</option>
                                    <option value="date">Nouveaux articles</option>
                                    <option value="price-asc">Prix croissant</option>
                                    <option value="price-desc">Prix décroissant</option>
                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Pages 1 of 1</p>
                            </div>

                        </div><!-- Shop Top Bar End -->
                        
                    </div>
                </div>
                
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid with-sidebar row">
                    
                    <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let product of products">                      
                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="single-product.html" class="img"><img src="http://localhost:3000/image/{{product.images[0]}}" alt="Product Image"></a>

                                <div class="wishlist-compare">
                                    <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                    <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                </div>

                                <a routerLink="/product/{{product._id}}" class="add-to-cart"><i class="ti-shopping-cart"></i><span>Ajouter</span></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">{{product.category.name}}</a>
                                    <h5 class="title"><a href="single-product.html">{{product.title}}</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">€{{product.price}}</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div><!-- Product End -->                       
                    </div>

                  
                </div><!-- Shop Product Wrap End -->
                
                
                <div class="row mt-30">
                    <div class="col">

                        <ul class="pagination">
                            <li><a href="#">Précédent</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">suivant</a></li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-lg-1 mb-15">
                
               <app-sidebar></app-sidebar>
            </div>
            
        </div>
    </div>
</div><!-- Feature Product Section End -->



