<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Liste des fournisseurs</h4>
      
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom de Fournisseur</th>
              <th>Nom de l'entreprise                 </th>
             
              <th>Numéro de Téléphone
              </th>
              <th>Addresse                </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let provider of providers">
              <td >{{provider.firstname}} {{provider.lastname}}</td>
              <td>{{provider.company}}</td>
              <td>{{provider.phone}}</td>
              <td>{{provider.address}}</td>
              <td> <button (click)="ondelete(provider._id)" class="btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                 <i  style="margin-left: 10px;" class="glyphicon glyphicon-pencil"></i>
              </td>
            </tr>
                </tbody>
        </table>
      </div>
    </div>
  </div>
</div>