<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" style="margin-left: 250px;">
    <div class="card" >
        <h5 class="card-header">Profile fournisseur</h5>
        <div class="card-body">
            <form action="#" id="basicform" data-parsley-validate="">
                <div class="form-group">
                    <label for="inputUserName">Nom</label>
                    <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Enter name" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Prénom</label>
                    <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Enter prenom" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input id="inputEmail" type="email" name="email" data-parsley-trigger="change" required="" placeholder="Enter email" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Numéro de Télephone</label>
                    <input id="inputUserName" type="number" name="name" data-parsley-trigger="change" required="" placeholder="phone" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Nom de l'entreprise</label>
                    <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Enter name company" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Addresse de l'entreprise</label>
                    <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Enter address" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">SIRET</label>
                    <input id="inputUserName" type="number" name="name" data-parsley-trigger="change" required="" placeholder="siret" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Statut</label>

                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="radio-inline" checked="" class="custom-control-input"><span class="custom-control-label">SAS</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">SASU</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">autoentrepreneur</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">EURL</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">SARL</span>
                </label>
            </div>
                <div class="row">
                    <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                        <label class="be-checkbox custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Remember me</span>
                        </label>
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                            <button class="btn btn-space btn-secondary">Cancel</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
