<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>About Us</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Page d'accueil</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
 
        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/banner/bannerlogo.png" alt="Banner"></a></div>
        </div>
 
        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/banner/bannerlogo2.png" alt="Banner"></a></div>
        </div>
 
    </div>
</div><!-- Page Banner Section End -->
<!-- About Section Start -->
<div class="about-section section mt-90 mb-30">
    <div class="container">
        
        <div class="row row-30 mb-40">
            
            <!-- About Image -->
            <div class="about-image col-lg-6 mb-50">
                <img src="assets/images/about/about-1.png" alt="about">
            </div>
            
            <!-- About Content -->
            <div class="about-content col-lg-6">
                <div class="row">
                    <div class="col-12 mb-50">
                        <h1>WELCOME TO <span>HighTechStore.</span></h1>
                        <p>HighTechStore la plus grande plateforme de commerce B2B en ligne au monde.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>WE START AT  Decembre 2019</h4>
                        <p>la plus grande plateforme de commerce B2B en ligne au monde.</p>
                    </div>

                </div>
            </div>
            
        </div>
        
     
        
        <!-- Mission, Vission & Goal -->
        <div class="about-mission-vission-goal row row-20 mb-40">
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR MISSION</h3>
                <p>En tant que membre du site HighTeckStore, notre mission est de faciliter les affaires partout.

                    Nous le faisons en donnant aux fournisseurs les outils nécessaires pour atteindre une audience mondiale pour leurs produits et en aidant les acheteurs à trouver des produits et des fournisseurs rapidement et efficacement</p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR VISSION</h3>
                <p>HighTeckStore vous apporte des centaines de millions de produits dans plus de 40 catégories principales différentes, y compris l'électronique grand public, les machines et les vêtements.
                </p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>Anytime, Anywhere</h3>
                <p>
                    En tant que plateforme, nous continuons à développer des services pour aider les entreprises à en faire plus et à découvrir de nouvelles opportunités.
                    
                    Que ce soit à partir de votre téléphone portable ou en contactant des fournisseurs dans leur langue locale, tournez-vous vers HighTechStore pour tous vos besoins commerciaux mondiaux.</p>
            </div>
            
        </div>
        
        <div class="row mb-30">
            
            <!-- About Section Title -->
            <div class="about-section-title col-12 mb-50">
                <h3>
                    VOUS POUVEZ NOUS CHOISIR PARCE QUE
                    NOUS OFFRONS TOUJOURS UNE IMPORTANCE...</h3>
                <p>Lancé en 2019, HighTeckStore est la principale plate-forme pour le commerce de gros mondial. Nous servons des millions d'acheteurs et de fournisseurs à travers le monde.</p>
            </div>
            
            <!-- About Feature -->
            <div class="about-feature col-lg-7 col-12">
                <div class="row">
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>FAST DELIVERY</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>QUALITY PRODUCT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>SECURE PAYMENT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>MONEY BACK GUARNTEE</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>EASY ORDER TRACKING</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>FREE RETURN</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                    <div class="col-md-6 col-12 mb-30">
                        <h4>24/7 SUPPORT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>
                    
                </div>
            </div>
            
            <!-- About Feature Banner -->
            <div class="about-feature-banner col-lg-5 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/images/banner/banner-32.jpg" alt="Banner"></a></div>
            </div>
            
        </div>
        
    </div>
</div><!-- About Section End -->


