<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>A propos de nous</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Page d'accueil</a></li>
                        <li><a href="#">A propos de nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
 
        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/11.png" alt="Banner"></a></div>
        </div>
 
        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/12.png" alt="Banner"></a></div>
        </div>
 
    </div>
</div><!-- Page Banner Section End -->
<!-- About Section Start -->
<div class="about-section section mt-90 mb-30">
    <div class="container">
        
        <div class="row row-30 mb-40">
            
            <!-- About Image -->
            <div class="about-image col-lg-6 mb-50">
                <img src="assets/images/about/about-1.png" alt="about">
            </div>
            
            <!-- About Content -->
            <div class="about-content col-lg-6">
                <div class="row">
                    <div class="col-12 mb-50">
                        <h1>Bienvenue à <span>HighTechStore.</span></h1>
                        <p>HighTechStore la nouvelle tendance de plateformes de l' E-commerce en 2020.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>Nous avons commencé en  décembre 2019</h4>
                        <p>Lancée en 2019, HighTeckStore est miraculeusement devenue la principale plate-forme pour le E-commerce à l'échelle nationale et officiellement comptée parmi les pionniers dans le monde dans son genre grace à son interface attractive et dynamique. Nous servons des milliers d'acheteurs et de fournisseurs en France et dorénavant à travers le monde entier.

                        </p>
                    </div>

                </div>
            </div>
            
        </div>
        
     
        
        <!-- Mission, Vission & Goal -->
        <div class="about-mission-vission-goal row row-20 mb-40">
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>NOTRE MISSION</h3>
                <p>En tant que gestionnaires du site HighTeckStore, que vous soyez client ou fournisseur, notre mission est de vous faciliter la vie, en vous offrant les outils nécessaires pour atteindre une audience mondiale pour vos produits et en vous aidant à trouver les produits technologiques rapidement et facilement.</p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>NOTRE VISION</h3>
                <p>HighTeckStore vous apporte des centaines de produits dans plus de 20 catégories principales différentes. Meme pour un produit en rupture de stock, vous n'avez qu'à nous contacter et nous vous garantissons d'etre servi au cours de la meme semaine de votre demande.
                </p>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>Partout & Toujours</h3>
                <p>
                    En tant que gestionnaires et service technique, nous continuons à développer de nouvelles fonctionnalités et améliorer nos services pour mieux vous servir.
                    
                    A partir de votre téléphone portable ou en contactant sur notre plateforme, tournez-vous vers nous pour tous vos besoins en produits éléctroniques.</p>
            </div>
            
        </div>
        
        <div class="row mb-30">
            
            <!-- About Section Title -->
            <div class="about-section-title col-12 mb-50">
                <h3>
                    POURQUOI CHOISIR HIGHTECHSTORE PLUTOT QU'UNE PLATEFORME PLUS ANCIENNE ?...</h3>
            </div>
            
            <!-- About Feature -->
                <div class="row">
                    
                    <div class="about-feature-banner col-lg-500 col-12 mb-1300">
                        <div class="banner"><a href=""><img src="assets/images/banner/spider.png" alt="Banner"></a></div>
                    </div>
            </div>
            
           
            
        
        
    </div>
</div><!-- About Section End -->


