
  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-2">
    <div class="row">
      <!-- Checkout Adress-->
      <div class="col-xl-9 col-lg-8">
        <div class="checkout-steps"><a class="active" href="wishlist">4. Revue de commande</a><a class="completed" href="payment"><span class="angle"></span>3. Paiement</a><a class="completed" href="shipping"><span class="angle"></span>2. Livraison</a><a class="completed" href="adress"><span class="angle"></span>1. Adresse</a></div>
        <h4>Revoir votre commande </h4>
        <hr class="padding-bottom-1x">
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th>Nom du produit</th>
                <th class="text-center">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="product-item"><a class="product-thumb" href="#"><img src="assets/images/productimg.jpg" alt="Product"></a>
                    <div class="product-info">
                      <h4 class="product-title"><a href="shop-single.html">MacBook Air 13<small>x 1</small></a></h4><span><em>Taille:</em> 10.5</span><span><em>Couleur:</em> Noir</span>
                    </div>
                  </div>
                </td>
                <td class="text-center text-lg text-medium">€ 800.00</td>
                <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="cart.html">Modifier</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="shopping-cart-footer">
          <div class="column"></div>
          <div class="column text-lg">Total: <span class="text-medium">€ 800.00</span></div>
        </div>
        <div class="row padding-top-1x mt-3">
          <div class="col-sm-6">
            <h5>Livraison à</h5>
            <ul class="list-unstyled">
              <li><span class="text-muted">Client:</span>Nour Ben Youssef</li>
              <li><span class="text-muted">Aderesse:</span> 57, avenue Bab Jedid 1049 Tunis </li>
              <li><span class="text-muted">Téléphone:</span>+(33) 19 20 19 20 19</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h5>Moyen de paiement:</h5>
            <ul class="list-unstyled">
              <li><span class="text-muted">Carte bancaire numéro :</span>**** **** **** 1920</li>
            </ul>
          </div>
        </div>
        <div class="checkout-footer margin-top-1x">
          <div class="column hidden-xs-down"><a class="btn btn-outline-secondary" href="payment">&nbsp;Précédent</a></div>
          <div class="column"><a class="btn btn-primary" href="completed">Validation de la commande</a></div>
        </div>
      </div>
      <!-- Sidebar          -->
      <div class="col-xl-3 col-lg-4">
        <aside class="sidebar">
          <div class="padding-top-2x hidden-lg-up"></div>
          <!-- Order Summary Widget-->
    
          <!-- Featured Products Widget-->
        
          <!-- Promo Banner-->
        </aside>
      </div>
    </div>
  </div>