<!-- Header Section Start -->
<div class="header-section section">

  <!-- Header Top Start -->
  <div class="header-top header-top-one header-top-border pt-10 pb-10">
      <div class="container">
          <div class="row align-items-center justify-content-between">

              <div class="col mt-10 mb-10">
                  <!-- Header Links Start -->
                  <div class="header-links">
                      <a href="track-order.html"><img src="assets/images/icons/car.png" alt="Car Icon"> <span>Suivre votre commande</span></a>
                  </div><!-- Header Links End -->
              </div>

              <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                  <!-- Header Advance Search Start -->
                  <div class="header-advance-search">
                      
                      <form action="#">
                          <div class="input"><input type="text" placeholder="Quest-ce que vous recherchez."></div>
    
                          <div class="submit"><button><i class="icofont icofont-search-alt-1"></i></button></div>
                      </form>
                      
                  </div><!-- Header Advance Search End -->
              </div>

              <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                  <!-- Header Account Links Start -->
                  <div class="header-account-links">
                      <a href="#" *ngIf="isLogged"><i class="icofont icofont-user-alt-7"></i> <span>Mon compte</span></a>
                      <a (click)="logout()" *ngIf="isLogged"><i class="icofont icofont-login d-none"></i> <span>Déconnecter</span></a>

                      <a routerLink="/login" *ngIf="!isLogged"><i class="icofont icofont-login d-none"></i> <span>Se Connecter</span></a>
                  </div><!-- Header Account Links End -->
              </div>

          </div>
      </div>
  </div><!-- Header Top End -->

  <!-- Header Bottom Start -->
  <div class="header-bottom header-bottom-one header-sticky">
      <div class="container">
          <div class="row align-items-center justify-content-between">

              <div class="col mt-15 mb-15">
                  <!-- Logo Start -->
                  <div class="header-logo">
                      <a href="index.html">
                          <img src="assets/images/logo.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                      </a>
                  </div><!-- Logo End -->
              </div>

              <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
                  <!-- Main Menu Start -->
                  <div class="main-menu">
                      <nav>
                          <ul>
                              <li class="active"><a href="#">Acceuil</a></li>
                              <li class="menu-item-has-children"><a href="#">Liste de Produits</a>
                                  <ul class="sub-menu">
                                    <li class="menu-item-has-children" *ngFor="let category of categories"><a href="shop-grid.html">{{category.name}}</a>
                                        <ul class="sub-menu">
                                            <li *ngFor="let subcategory of category.sub_categories"><a href="shop-grid.html">{{subcategory.name}}</a></li>
                                        </ul>
                                    </li>
                                    
                                  </ul>
                              </li>
                                <li class="menu-item-has-children"><a routerLink="/aboutus">A propos</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div><!-- Main Menu End -->
                </div>
  
                <div class="col order-2 order-lg-12 order-xl-12">
                    <!-- Header Shop Links Start -->
                    <div class="header-shop-links">
                      
                        <!-- Cart -->
                        <a (click)="openCart()" class="header-cart"><i class="ti-shopping-cart"></i> <span class="number">{{nbrproduct}}</span></a>
                        
                    </div><!-- Header Shop Links End -->
                </div>
                
                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>
  
            </div>
        </div>
    </div><!-- Header Bottom End -->
  
  </div><!-- Header Section End -->

  <!-- Mini Cart Wrap Start -->                      
<div class="mini-cart-wrap" [ngClass]="{ 'open': cartClick }">

    <!-- Mini Cart Top -->
    <div class="mini-cart-top">    
    
        <button class="close-cart">Fermer le panier<i class="icofont icofont-close" (click)="closeCart()"></i></button>
        
    </div>

    <!-- Mini Cart Products -->
    <ul class="mini-cart-products">
        <li *ngFor="let cart of panier">  
            <a class="image"><img src='http://localhost:3000/image/{{cart.image}}' alt="Product"></a>
            <div class="content">
                <a href="" class="title">{{cart.title}}</a>
                <span class="price">Prix: € {{cart.price}}</span>
                <span class="qty">Qté: 01</span>
            </div>
            <button class="remove"><i class="icofont icofont-delete" (click)="delteFromCart(cart)"></i></button>
        </li>
       
    </ul>

    <!-- Mini Cart Bottom -->
    <div class="mini-cart-bottom"  *ngFor="let cart of panier" >    
    

        <h4 class="sub-total">Total: <span>{{total}}€</span></h4>

        <div class="button">
            <a (click)="getOrder()">Vérifier</a>


        </div>
        
    </div>

</div><!-- Mini Cart Wrap End --> 

<!-- Cart Overlay -->
<div class="cart-overlay" [ngClass]="{ 'visible': cartClick }"></div>
  
   <router-outlet></router-outlet>
  
  
  <!-- Footer Section Start -->
  <div class="footer-section section bg-ivory">
     
    <!-- Footer Top Section Start -->
    <div class="footer-top-section section pt-20 pb-1">
        <div class="container">
            
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div class="footer-widget">
                       
                        <h4 class="widget-title">Contactez-nous</h4>
                        
                        <p class="contact-info">
                            <span>Addresse</span>
                           Notre addresse <br>
                           12 Rue Anatole France, 92000 Nanterre                     </p>
                        
                        <p class="contact-info">
                            <span>Téléphone</span>
                            <a href="tel:01234567890">01234 567 890</a>
                        </p>
                        
                        <p class="contact-info">
                            <span>Email</span>
                            <a href="info@hightechktore.com">info@hightechstore.com</a>
                        </p>
                        
                    </div>
                </div><!-- Footer Widget End -->
                
                
                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div class="footer-widget">
                       
                        <h4 class="widget-title">Informations</h4>
                        
                        <ul class="link-widget">
                            <li><a href="#">A propos de nous</a></li>
                            <li><a href="#">Termes et conditions</a></li>
                           
                        </ul>
                        
                    </div>
                </div><!-- Footer Widget End -->
                
               
                
            </div>
            
        </div>
    </div><!-- Footer Bottom Section Start -->
   
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">
                
                <!-- Footer Copyright -->
                <div class="col-lg-6 col-12">
                    <div class="footer-copyright"><p>&copy; Copyright, 2020 Tous droits réservés par <a href="">HighTechStore</a></p></div>
                </div>
                
                
                
            </div>
        </div>
    </div><!-- Footer Bottom Section Start -->
    
  </div><!-- Footer Section End -->